<h2>Log In</h2>

<form action="/auth/login" method="POST">
	<div class="row">
		<div class="input-field col s12 m6">
			<label for="email">Email </label>
			<input type="email" name="email" id="email" class="validate" >
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 m6">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" class="validate" >
		</div>
	</div>
	<input type="submit" name="" class="btn">
</form>

